/* CHANGES MADE
1. Font
2. Dark Mode/Colors
3. Background images for each pane
4. Menu is now on the right
5. changed background color 
6. Changed font color
7. Mobile view order is different than light view (regarding panes)
*/
body {
    
    background-color: #121212;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    
}
.container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header aside"
      "main main section aside"
      "footer footer footer footer";
    height: 100vh;
    background-color: cornflowerblue;
    gap: 40px;
  }

.container {
    background-color: #1e1e1e;
}


.item-a {
    background-color: #222;
    color: #fff;
}


.button {
    background-color: #444;
    color: #fff;
}
.button:hover {
    background-color: #666;
}

.item-a {
    background-image: url('../img/black-wavy.jpg') !important;
}
.item-b {
    background-image: url('../img/black-wavy.jpg') !important;
    
    

}

.item-c {
    
    background-image: url('../img/black-wavy.jpg') !important;
    
}


.item-e {
    background-image: url('../img/black-wavy.jpg') !important;
}

.item-d {
    background-image: url('../img/black-wavy.jpg') !important;
    color: #ccc;
    
}


a {
    color: #4da6ff;
}
a:hover {
    color: #80c1ff;
}

@media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      height: auto;
      grid-template-areas: 
      "aside header header header"
      "aside main main"
      "section"
      "footer footer footer footer";
    }
  
    
    .item-a { order: 2; }
    .item-b { order: 3; } 
    .item-c { order: 4; } 
    .item-e { order: 1; } 
    .item-d { order: 5; } 
  
   
    .item-a, .item-b, .item-c, .item-d, .item-e {
      width: 100%;
    }
  
 
    .header-content {
      flex-direction: column;
      text-align: center;
    }
  
    .header-content img {
      max-width: 50%;
      margin-bottom: 10px;
    }
  
    iframe {
      max-width: 100%;
    }
  }
  